<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Editing Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h1>Editing Shop</h1>
      <form th:action="@{/v2/shops/{id}(id=*{id})}" th:method="put" th:object="${shopV2}">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
          <label class="control-label">店名</label>
          <input class="form-control" type="text" name="name" th:field="*{name}">
          <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="form-group">
          <label class="control-label">カテゴリ</label>
          <select class="form-control" name="category" th:field="*{category}">
            <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </select>
          <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
        </div>

        <div class="form-group"  th:classappend="${#fields.hasErrors('place')}? has-error">
          <label class="control-label">場所</label>
          <input class="form-control" type="text" name="place" th:field="*{place}"/>
          <span class="text-danger" th:if="${#fields.hasErrors('place')}" th:errors="*{place}"></span>
        </div>

        <div class="form-group">
            <label class="control-label">価格帯</label>
            <select class="form-control" name="priceRange" th:field="*{priceRange}">
              <option th:each="priceRange:${priceRange}" th:value="${priceRange.id}" th:text="${priceRange.name}"></option>
            </select>
          <span class="text-danger" th:if="${#fields.hasErrors('priceRange')}" th:errors="*{priceRange}"></span>
        </div>

        <button class="btn btn-primary" type="submit">更新</button>
      </form>
      <!-- スタイリング用 pタグ -->
      <p></p>
      <div class="pull-right">
        <a class="btn btn-outline-primary" href="/v2/shops">一覧画面へ</a>
      </div>
    </div>
  </body>
</html>