<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Listing Shops</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script>
      jQuery(function($){ 
        $.extend( $.fn.dataTable.defaults, { 
          language: {
            "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Japanese.json"
          } 
        }); 

        $("#shop_table").DataTable({
          'columns': [
            { data: '店名' },
            { data: '価格帯' },
            { data: '場所' },
            { data: 'カテゴリ' },
            { data: 'show' },
            { data: 'edit' },
            { data: 'delete' }
          ],
          'columnDefs': [ {
            'targets': [4,5,6],
            'orderable': false,
          }],
          searching: false
        });
      });
    </script>
    <style>
      .form-inline {
        display: flex;
        flex-direction: column;
        align-items:stretch;
        flex-flow: column wrap;
      }
      .dataTables_length > label {
        float: left;
      }
    </style>
  </head>
  <body>
      <header class="text-center" style="height: 600px; background-color: moccasin;">
        <img src="/img/icon.png" alt="画像の説明" style="margin: 30px;"/>
        
        <div class="container d-flex align-items-center flex-column">

          <h1 style="font-family: 'Nikukyu'; font-size: 80px; color: darkorange;">グルメパッド</h1>
          
          <h2 style="margin: 30px; font-size: 20px; color: saddlebrown;"></h2>

          <div class="conteiner">
            <form th:action="@{/v2/shops/search/}" method="get">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInput">Name</label>
                  <input name="keyword" type="text" class="form-control mb-2" id="keyword" placeholder="イタリアン">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">検索</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </header>

      <section class="page-section d-flex align-items-center flex-column" id="contact">
        <div class="container" style=" margin: 30px;">
      <table class="table  text-center" id="shop_table">
        <thead>
          <tr>
            <th>店名</th>
            <th>価格帯</th>
            <th>場所</th>
            <th>カテゴリ</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="shops:${shops}" th:object="${shops}">
            <td th:text="*{name}"></td>
            <td th:text="*{priceRange.name}"></td>
            <td th:text="*{place}"></td>
            <td th:text="*{category.name}"></td>
            <td><a class="btn btn-secondary" th:href="@{/v2/shops/{id}(id=*{id})}">参照</a></td>
            <td><a class="btn btn-success" th:href="@{/v2/shops/{id}/edit(id=*{id})}">編集</a></td>
            <td>
              <!-- ⑤ -->
              <form th:action="@{/v2/shops/{id}(id=*{id})}" th:method="delete">
                <input class="btn btn-danger" type="submit" value="削除" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" href="/v2/shops/new">新規作成</a>
    </div>
  </section>

    <section class="copyright py-4 text-center text-white" style="background-color: moccasin;">
      <div class="container">
        <small>Copyright © Yuki Sekiya</small>
      </div>
    </section>
  </body>
</html>