<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Show Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">
  </head>
  <body>

    <!-- Masthead -->
    <header class="text-center" style="background-color: moccasin;">
      
      <div class="container d-flex align-items-center flex-column">

        <h1 style="font-family: 'Nikukyu'; font-size: 80px; color: darkorange;">グルメパッド</h1>
        
        <h2 style="margin: 30px; font-size: 20px; color: saddlebrown;">お店について</h2>

      </div>
    </header>

     <!-- Contact Section -->
     <section class="page-section d-flex align-items-center flex-column" id="contact">

      <div class="container" style="margin:  50px;">
        
        <div class="list-group" th:object="${shop}">
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">店名</h5>
            </div>
            <p class="mb-1"  th:text="*{name}"></p>
          </div>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">価格帯</h5>
            </div>
            <p class="mb-1" th:text="*{priceRange.name}"></p>
          </div>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">場所</h5>
            </div>
            <p class="mb-1" th:text="*{place}"></p>
          </div>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">カテゴリ</h5>
            </div>
            <p class="mb-1" th:text="*{category.name}"></p>
          </div>
        </div>

          <!-- スタイリング用pタグ -->
          <p></p>
          <div>
            <a class="btn btn-success" th:href="@{/v2/shops/{id}/edit(id=*{id})}">編集</a>
          </div>
          <!-- スタイリング用pタグ -->
          <p></p>
          <div class="pull-right">
            <a class="btn btn-outline-primary" href="/v2/shops">一覧画面へ</a>
          </div>
        </div>
      </section>

      <!-- Copyright Section -->
      <section class="copyright py-4 text-center text-white" style="background-color: moccasin;">
        <div class="container">
          <small>Copyright © Yuki Sekiya</small>
        </div>
      </section>
    </body>
</html>